In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from array import array
import statistics
'''K-nearest Neighbor Model'''
from sklearn import preprocessing
from sklearn.utils import resample
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import random

In [33]:
# read data and convert to panda data frame
df = pd.read_csv("teacherdata_training.csv", sep=',', na_values=['?'])
df_test = pd.read_csv("teacherdata_testing.csv", sep=",", na_values=['?'])
display(df)

,Name,Age,Gender,US Educated,Years of Experience,Subject,Teacher Rating
0,Teacher 1,30 to 50,male,No,3 to 6,Physics,proficient
1,Teacher 2,30 to 50,male,Yes,3 to 6,Spanish,proficient
2,Teacher 3,more than 50,female,No,more than 6,Physics,unsatisfactory
3,Teacher 4,less than 30,male,No,3 to 6,English,proficient
4,Teacher 5,less than 30,male,No,3 to 6,English,satisfactory
...,...,...,...,...,...,...,...
95,Teacher 96,more than 50,female,Yes,3 to 6,Physical Education,satisfactory
96,Teacher 97,less than 30,female,Yes,3 to 6,Biology,proficient
97,Teacher 98,less than 30,male,No,more than 6,Computer Science,unsatisfactory
98,Teacher 99,30 to 50,male,Yes,more than 6,History,satisfactory
99,Teacher 100,30 to 50,female,Yes,more than 6,English,proficient

In [34]:
# check data for missing values then drop name attribute
display((df=='?').sum())
#display(df)
df.fillna(0)

Name                   0
Age                    0
Gender                 0
US Educated            0
Years of Experience    0
Subject                0
Teacher Rating         0
dtype: int64

,Name,Age,Gender,US Educated,Years of Experience,Subject,Teacher Rating
0,Teacher 1,30 to 50,male,No,3 to 6,Physics,proficient
1,Teacher 2,30 to 50,male,Yes,3 to 6,Spanish,proficient
2,Teacher 3,more than 50,female,No,more than 6,Physics,unsatisfactory
3,Teacher 4,less than 30,male,No,3 to 6,English,proficient
4,Teacher 5,less than 30,male,No,3 to 6,English,satisfactory
...,...,...,...,...,...,...,...
95,Teacher 96,more than 50,female,Yes,3 to 6,Physical Education,satisfactory
96,Teacher 97,less than 30,female,Yes,3 to 6,Biology,proficient
97,Teacher 98,less than 30,male,No,more than 6,Computer Science,unsatisfactory
98,Teacher 99,30 to 50,male,Yes,more than 6,History,satisfactory
99,Teacher 100,30 to 50,female,Yes,more than 6,English,proficient

In [35]:
label_encoder = preprocessing.LabelEncoder()
df['Age']= label_encoder.fit_transform(df['Age'])
df['Age'].unique()
display(df['Age'])

df['Years of Experience']= label_encoder.fit_transform(df['Years of Experience'])
df['Years of Experience'].unique()
display(df['Years of Experience'])

df['Teacher Rating']= label_encoder.fit_transform(df['Teacher Rating'])
df['Teacher Rating'].unique()

df['US Educated']= label_encoder.fit_transform(df['US Educated'])
df['US Educated'].unique()
#df['US Educated']

display(df)

df_test['Age']= label_encoder.fit_transform(df_test['Age'])
df_test['Age'].unique()
display(df_test['Age'])

df_test['Years of Experience']= label_encoder.fit_transform(df_test['Years of Experience'])
df_test['Years of Experience'].unique()
display(df_test['Years of Experience'])

df_test['Teacher Rating']= label_encoder.fit_transform(df_test['Teacher Rating'])
df_test['Teacher Rating'].unique()

df_test['US Educated']= label_encoder.fit_transform(df_test['US Educated'])
df_test['US Educated'].unique()
#df['US Educated']

0     0
1     0
2     2
3     1
4     1
     ..
95    2
96    1
97    1
98    0
99    0
Name: Age, Length: 100, dtype: int32

0     0
1     0
2     2
3     0
4     0
     ..
95    0
96    0
97    2
98    2
99    2
Name: Years of Experience, Length: 100, dtype: int32

,Name,Age,Gender,US Educated,Years of Experience,Subject,Teacher Rating
0,Teacher 1,0,male,0,0,Physics,0
1,Teacher 2,0,male,1,0,Spanish,0
2,Teacher 3,2,female,0,2,Physics,2
3,Teacher 4,1,male,0,0,English,0
4,Teacher 5,1,male,0,0,English,1
...,...,...,...,...,...,...,...
95,Teacher 96,2,female,1,0,Physical Education,1
96,Teacher 97,1,female,1,0,Biology,0
97,Teacher 98,1,male,0,2,Computer Science,2
98,Teacher 99,0,male,1,2,History,1
99,Teacher 100,0,female,1,2,English,0

0     1
1     1
2     2
3     0
4     1
5     2
6     0
7     0
8     2
9     0
10    1
11    1
12    2
13    1
14    2
15    0
16    2
17    2
18    0
19    0
Name: Age, dtype: int32

0     0
1     2
2     1
3     2
4     0
5     0
6     0
7     1
8     0
9     0
10    2
11    2
12    1
13    1
14    2
15    1
16    0
17    1
18    1
19    1
Name: Years of Experience, dtype: int32

array([0, 1])

In [36]:
" Train MLP"

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error,r2_score

# scale data
x_train = np.array(df['Age'].to_list()).reshape(-1,1)
x_test = np.array(df_test['Age'].to_list()).reshape(-1,1)
y_train = np.array(df['Teacher Rating'].to_list()).reshape(-1,1)
y_test = np.array(df_test['Teacher Rating'].to_list()).reshape(-1,1)
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [37]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

def my_best_mlp_tuned(x_train_scaled,x_test_scaled,y_train,y_test,param_grid):
  
    # Define the model
    model = MLPClassifier(n_iter_no_change=20)

    # Create a GridSearchCV object

    grid_search = GridSearchCV(model, param_grid,scoring='accuracy', cv=5, verbose = 3,n_jobs=-1) 

    print("**************************")
    # Fit the GridSearchCV object
    grid_search.fit(x_train_scaled, y_train)

    # Print the best hyperparameters
    print("Best hyperparameters:", grid_search.best_params_)

    # Evaluate the best model on the test set
    accuracy = grid_search.score(x_test_scaled, y_test)
    print("MLP accuracy:", accuracy)


    # Get the best estimator
    best_model = grid_search.best_estimator_

    # Use the best model to make predictions
    predictions = best_model.predict(x_test_scaled)

    print('\n**********************************')
    return accuracy

In [38]:
param_grid= {
    'max_iter':[100,250],
    'hidden_layer_sizes': [(10,2),(20,2),(50,20),(100,100)]
}
accuracy = my_best_mlp_tuned(x_train_scaled,x_test_scaled,y_train,y_test,param_grid)

**************************
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best hyperparameters: {'hidden_layer_sizes': (20, 2), 'max_iter': 100}
MLP accuracy: 0.4

**********************************

C:\Users\alego\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1102: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\alego\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [39]:
#log Regression Model

'''

def model_summary(model,x,y): #x = features, y = class label
    y_pred_prob = model.predict_proba(x) 
    # y_pred_prob = (n_samples,2)
    # y_pred_prob[:,0] = prob that belongs to class 0
    # y_pred_prob[:,0] = prob that belongs to class 1
    y_pred_class = np.copy(y_pred_prob[:,1])
    y_pred_class[y_pred_class<0.5] = 0
    y_pred_class[y_pred_class>=0.5] = 1
    
    print('coef',model.coef_) #coefficients
    print('intercept',model.intercept_) #intercept
    print('accuracy ',accuracy_score(y,y_pred_class))
    print('Log loss/ -loglikelihood / cross-entropy loss', log_loss(y,y_pred_prob[:,1],normalize=True))
    
    '''

"\n\ndef model_summary(model,x,y): #x = features, y = class label\n    y_pred_prob = model.predict_proba(x) \n    # y_pred_prob = (n_samples,2)\n    # y_pred_prob[:,0] = prob that belongs to class 0\n    # y_pred_prob[:,0] = prob that belongs to class 1\n    y_pred_class = np.copy(y_pred_prob[:,1])\n    y_pred_class[y_pred_class<0.5] = 0\n    y_pred_class[y_pred_class>=0.5] = 1\n    \n    print('coef',model.coef_) #coefficients\n    print('intercept',model.intercept_) #intercept\n    print('accuracy ',accuracy_score(y,y_pred_class))\n    print('Log loss/ -loglikelihood / cross-entropy loss', log_loss(y,y_pred_prob[:,1],normalize=True))\n    \n    "

In [40]:
def model_summary(model,x,y): #x = features, y = class label
   # Train the model
    #model.fit(X_train, y_train)

# Predict on the test set
    y_pred = model.predict(x)

# Evaluate the model
    accuracy = accuracy_score(y, y_pred)
    print(f"Accuracy: {accuracy}")

# Example of predicting probabilities for each class
    probabilities = model.predict_proba(x)
    print("Probabilities for each class:", probabilities)

In [41]:
#  dfy is the y_test
def my_best_logreg_tuned(x_test,dfy,param_grid):
    logit = LogisticRegression(multi_class='multinomial',penalty=None, max_iter=50) # no regularization as indicated by parameter penalty
    model_logit = logit.fit(x_train_scaled, y_train)
    print('*********************************\n')
    print('training')
    model_summary(model_logit,x_train_scaled,y_train)
    print('testing')
    model_summary(model_logit,x_test_scaled,y_test)
    clf = GridSearchCV(model_logit,param_grid = param_grid, cv = 5, verbose=True,n_jobs=-1)
    clf
    df1 = np.nan_to_num(x_test)
    dfy = np.nan_to_num(dfy)
    best_clf = clf.fit(df1,dfy)
    best_clf.best_estimator_
    score = best_clf.score(df1,dfy);
    # Print the best hyperparameters
    print("Best hyperparameters:", best_clf.best_params_)
    print(f'Log Regression Test Accuracy - : {score:.3f}')
    print('\n****************************************')
    return score

In [42]:

param_grid = [
    {
    'solver':['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga'],
}
]
best_clf = my_best_logreg_tuned(x_test,df_test['Teacher Rating'],param_grid)

C:\Users\alego\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

*********************************

training
Accuracy: 0.39
Probabilities for each class: [[0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]]
testing
Accuracy: 0.3
Probabilities for each class: [[0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.38556914 0.26076167 0.35366918]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.38556914 0.26076167 0.35366918]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.29790579 0.31296413 0.38913009]
 [0.29790579 0.31296413 0.38913009]
 [0.4808826  0.20936613 0.30975127]
 [0.4808826  0.20936613 0.30975127]]
Fitting 5 folds for each of 6 candidates, totalling 30 fits

C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 1218, in fit
    multi_class = _check_multi_class(self.multi_class, solver, len(self.classes_))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 92, in _check_multi_class
    raise ValueError("Solver %s does not support a multinomial backend." % solver)
ValueError: Solver liblinear does not support a multinomial backend.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 1218, in fit
    multi_class = _check_multi_class(self.multi_class, solver, len(self.classes_))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\alego\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py", line 92, in _check_multi_class
    raise ValueError("Solver %s does not support a multinomial backend." % solver)
ValueError: Solver newton-cholesky does not support a multinomial backend.

  warnings.warn(some_fits_failed_message, FitFailedWarning)

Best hyperparameters: {'solver': 'lbfgs'}
Log Regression Test Accuracy - : 0.450

****************************************

C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.35  nan 0.35  nan 0.35 0.35]
  warnings.warn(

In [43]:
'''K-nearest Neighbor Model'''

def my_best_knn_tuned(x_train_scaled,x_test_scaled,y_train,y_test):
    # 5-fold cross validation
    k_grid = [k for k in range(1,100)] # list that contains differerent values of k (nearest neighbors)

    knn_grid={'n_neighbors':k_grid}
    knn_model = KNeighborsClassifier()
    clf_knn = GridSearchCV(knn_model, 
                   param_grid = knn_grid,
                   scoring = 'accuracy',
                   cv = 5, 
                   n_jobs = 4, #parallel processing to reduce computation time
                   return_train_score = True)
    clf_knn.fit(x_train_scaled,y_train)
    y_pred = clf_knn.predict(x_test_scaled)
    knn_accuracy = accuracy_score(y_test, y_pred)
    print("Accuracy:", knn_accuracy)
    print('*********************************************\n')
    print('best parameters ',clf_knn.best_params_)
    print('K nearest Neighbors best validation score ', clf_knn.best_score_)
    print('\n************************************************')
    return knn_accuracy

In [44]:
knn_accuracy = my_best_knn_tuned(x_train_scaled,x_test_scaled,y_train,y_test)

Accuracy: 0.3
*********************************************

best parameters  {'n_neighbors': 37}
K nearest Neighbors best validation score  0.44000000000000006

************************************************

C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.38 0.36 0.39 0.36 0.36 0.39 0.42 0.41 0.38 0.38 0.37 0.38 0.38 0.39
 0.39 0.39 0.39 0.39 0.38 0.38 0.38 0.38 0.39 0.39 0.41 0.36 0.38 0.37
 0.38 0.38 0.38 0.41 0.4  0.38 0.41 0.39 0.44 0.39 0.39 0.35 0.37 0.41
 0.38 0.37 0.37 0.39 0.4  0.38 0.38 0.38 0.38 0.38 0.36 0.38 0.38 0.38
 0.39 0.39 0.39 0.39 0.4  0.4  0.39 0.4  0.39 0.39 0.39 0.39 0.4  0.4
 0.4  0.4  0.4  0.42 0.39 0.39 0.39 0.39 0.39 0.39  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan]
  warnings.warn(
C:\Users\alego\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the train scores are non-finite: [0.39   0.3825 0.39   0.3975 0.3825 0.39   0.4225 0.415  0.4    0.415
 0.41   0.4225 0.415  0.42   0.4275 0.42   0.42   0.4275 0.4225 0.43
 0.435  0.44   0.4375 0.4375 0.4375 0.4425 0.445  0.4475 0.45   0.45
 0.45   0.435  0.4325 0.4425 0.4475 0.44   0.4275 0.4275 0.44   0.4225
 0.41   0.435  0.4225 0.4175 0.425  0.4125 0.4125 0.405  0.405  0.405
 0.405  0.405  0.375  0.405  0.405  0.405  0.39   0.39   0.39   0.39
 0.3875 0.3875 0.39   0.3875 0.39   0.39   0.39   0.39   0.3875 0.3875
 0.3875 0.3875 0.3875 0.3725 0.39   0.39   0.39   0.39   0.39   0.39
    nan    nan    nan    nan    nan    nan    nan    nan    nan    nan
    nan    nan    nan    nan    nan    nan    nan    nan    nan]
  warnings.warn(
C:\Users\alego\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [45]:
d = {
    'Model':['MLP','Logistic Regression','KNN'],
    'Test Accuracy': [accuracy,best_clf,knn_accuracy]
}
table_single = pd.DataFrame(data=d)
display(table_single)

                 Model  Test Accuracy
0                  MLP           0.40
1  Logistic Regression           0.45
2                  KNN           0.30